name: CI

on:
  push:
    branches: [master]
  pull_request:
    types: [opened, synchronize]

jobs:
  test:
    runs-on: ubuntu-slim
    steps:
      - name: Checkout
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2

      - name: Setup dotnet
        uses: actions/setup-dotnet@baa11fbfe1d6520db94683bd5c7a3818018e4309 # v5.1.0
        with:
          global-json-file: global.json
          cache: true
          cache-dependency-path: src/Sandbox.Reactivity.Tests/packages.lock.json

      - name: Restore dependencies
        run: dotnet restore src/Sandbox.Reactivity.Tests --locked-mode

      - name: Build
        run: dotnet build src/Sandbox.Reactivity.Tests --no-restore

      - name: Test
        run: dotnet test --project src/Sandbox.Reactivity.Tests --no-build
